$primary-color: deepskyblue;
$card-bg-color: indianred;
$success-color: seagreen;
$danger-color: red;
$main-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$border: 1px solid black;
