@use "./variables" as x;
@import "./mixins";
@import "./extends";

h1 {
  font-family: x.$main-font;
  color: x.$primary-color;
  border: x.$border;
}

// nesting style
.list {
  border: x.$border;
  &__item {
    transition: 0.3s linear;
    &--link {
      color: red;
      transition: 0.2s linear;
      &:hover {
        color: black;
      }
    }
    &:hover {
      transform: translateX(10px);
    }
  }
}

.outer-box {
  .inner-box {
    .child-box {
    }
  }
}

.outer-box {
  span {
    color: red;
  }
}

.btn {
  @include buttonGenerator;
}
.btn-primary {
  @include buttonGenerator(deepskyblue, rgb(0, 109, 145));
}
.btn-success {
  @include buttonGenerator($hover-color: red, $bgc-color: green);
}
.btn-danger {
  @include buttonGenerator(red, rgb(134, 0, 0));
}
.box{
  width: 60%;
  height: 400px;
  border: 2px solid black;
  @extend %center-element;
}


$theme: dark;
body{
  @if $theme == dark{
    background-color: black;
    color: white;
  }
  @else {
    background-color: white;
    color: black;
  }
}