/* google fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

h1 {
  text-align: center;
  text-shadow: 1px 1px 3px olive;

  /* fonts */
  /* font style - italic, normal */
  /* font-style: italic; */
  /* font size - px, rem, em */
  /* font-size: 2.5em; */
  /* font weight - bold, light, normal */
  /* font-weight: 300; */
  /* font family - Arial, New Times Roman */
  /* font-family: "CODE ACADEMY", sans-serif; */
  font-family: "Poppins";
}

h1::selection {
  background-color: olivedrab;
  color: white;
}
